.column-middle{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.table-div{
    display:inline-flex;
}

table{
    width:100%;
}

button{
    border:none;
    width:100%;

    padding:10px 15px;
}

input{
    border:none;
}

input[type=button]{
    width:15%;
}
input[type=text]{
    width:50%;
}

